/*PAGINA HISTORIA*/

@font-face{
    font-family: "alumni" ;
    src: url('../Typography/AlumniSansCollegiateOne-Italic.ttf');
}
.historia{
    margin-bottom: 150px;
}

.relatoHistoria{
    margin: 5%;
    font-family: Graduate;
    p{
        color: $colorBlanco;
        font-size: x-large;
        margin-top: 40px;
        margin-left: 100px;
        margin-right: 100px;
        strong{
            color: $colorVerde;
        }
    }
}
.premio{
    text-align: center;
    margin-bottom: 300px;
    p{
        font-size: 40px;
        font-family: alunmi;
        animation-delay: 1s;
        strong{
            color: gold;
            opacity: 0.9;
        }
    }
}

@keyframes historiaAparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 576px) {
    .relatoHistoria{
        p{
            font-size: 15px;
            margin-left: 50px;
            margin-right: 50px;
         }
    }
    .premio{
        p{
            font-size: 20px;
        }
    }
}