* {
    margin: 0;
    padding: 0;
}

/*CREACION DE TIPOGRAFIA TITULOS*/
@font-face{
    font-family: "Abril" ;
    src: url('../Typography/AbrilFatface-Regular.ttf');
}

/*CREACION DE TIPOGRAFIA TEXTO*/

@font-face{
    font-family: "Graduate";
    src: url('../Typography/Graduate-Regular.ttf');
}

/*INDICE COLOR Y ALINEACION*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #242424;
}

.menu p{
    font-family: Abril;
    font-size: 30px;
    color: white;
}

.menu li{
    margin-right: 30px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Abril;
    font-size: 20px;
    letter-spacing: 2px;
}

.menu a{
    color: white;
    text-decoration: none;
}

.menu a:hover{
    color: #007F79;
    font-size: 22px;
}

.menu p{
    border: solid #E6E6E6 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: solid #007F79 5px;
}


/*Background*/
.imagenDeFondo{
    background-image: url(https://images.unsplash.com/photo-1572116469696-31de0f17cc34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHB1YnN8ZW58MHx8MHx8&w=1000&q=80);
    background-position: center; 
    filter: grayscale(0);
    transition: all 2s;
}
.imagenDeFondo:hover{
    filter: grayscale(100%);
    transform: scale(0.95);
}


/*Mensaje en Pantalla delante del Background*/
.imagenDeFondo p{
    color: #E6E6E6;
    font-size: 70px;
    font-family: Abril;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*FORMATO DE PAGINA HISTORIA*/
.historia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.relatoHistoria{
    margin: 5%;
    font-family: Graduate;
}


/*FOOTER*/

.piePagina{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    background-color: #007F79;
    height: 100px;
    margin-top: 5%;
    align-items: center;
}
.piePagina div{
    font-family: Graduate;
    color: #E6E6E6;
}

.piePagina div ul{
    list-style-type: none;
}

/*MEDIA QUERY*/

@media screen and (max-width: 1024px){
    .menu{
        flex-direction: column;
    }
    .menu p{
        font-size: 20px;
    }
    .menu li{
        display: flex;
        font-size: 15px;
        justify-content: center;
    }
    .imagenDeFondo p{
        font-size: 30px;
        height: 500px;
    }
    .piePagina div{
        font-size: 7px;
    }
    .historia{
        flex-direction: column;
    }
}
