* {
    margin: 0;
    padding: 0;
}

@import "variables";
@import "reservas";
@import "contacto";
@import "servicios";
@import "historia";

/*CREACION DE TIPOGRAFIA TITULOS*/
@font-face{
    font-family: "Abril" ;
    src: url('../Typography/AbrilFatface-Regular.ttf');
}

/*CREACION DE TIPOGRAFIA TEXTO*/

@font-face{
    font-family: "Graduate";
    src: url('../Typography/Graduate-Regular.ttf');
}

/*MENU*/
@import "menu";

/*INDEX Background*/

body{
    background-image: url(https://i.pinimg.com/564x/39/ff/fc/39fffc56a657467cc24277b8dc4140eb.jpg);
}
#section_index, #section_encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

/*INDEX SECTION BIENVENIDA*/

.section_bienvenida{
    color: $colorBlanco;
    font-family: Graduate;
    h1{
        margin-top: 30px;
    }
    h2{
        margin-top: 30px;
    }
    p{
        margin: 130px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.btn_reserva{
    color: $colorBlanco;
    background-color: $colorVerde;
    font-size: 20px;
    border-radius: 7px;
    padding: 5px;
    animation-name: efecto_btn_reserva;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 8s;
    animation-delay: 1s;
    text-transform: lowercase;
}

@keyframes efecto_btn_reserva{
    0%{
      background-color: $colorVerde;
    }
    100%{
        background-color: $colorBlanco;
        color: $colorVerde;
    }
}


/*INDEX SECTION IMAGEN*/
.carousel-inner{
    width: 500px; 
    height: 400px;
    img{
        height: 400px;
    }
}

@media screen and (max-width: 576px){
    .section_bienvenida{
        p{
        margin: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        }
    }
    .carousel-inner{
        width: 300px; 
        height: 200px;
        img{
            height: 200px;
        }
    }
}

/*FOOTER*/
footer{
    width: 100%;
    position: absolute;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_logo{
    height: 100px;
    position: absolute;
    margin-left: 70vw;
}

.contenedor_menu_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor_menu_footer{
    list-style: none;
    color: $colorBlanco;
    font-size: 20px;
    font-family: Graduate;
}

footer{
    background: rgba(255, 255, 255, 0.2);
}

.contenedor_redsocial{
    font-size: 40px;
}

.menu_footer, .contenedor_redsocial{
    margin: 5px 15px;
    cursor: pointer;
    opacity: 0.7;
    transition: .4s;
    &:hover{
        opacity: 1;
    }
    a{
        text-decoration: none;
        color: $colorBlanco;
    }
}

@media screen and (max-width:1000px) {
    .footer_logo{
        position: relative;
        margin-left: 0;
        margin-bottom: 20px;
    }
}

/*PRACTICA MAPS*/
@mixin fondoColor ($fondo){
    background-color: $fondo;
}
@if $tituloEstilo == "si"{
    @for $i from 1 through 3{
    .titulo#{$i}{
        background-color: map-get($mapaEstilo, $i);
    }
    }
}
@else if $tituloEstilo == "no"{
    @each $numero,
    $titulo in $mapaEstilo{
        .titulo#{$numero}{
            @include fondoColor (blue);
        }
    }
}
@else {
    @for $i from 1 through 3{
        .titulo#{$i}{
    background-color: black;
        }
    }   
    #extra {
        @extend .titulo1;
    }
}

