* {
  margin: 0;
  padding: 0;
}

/*CREACION DE TIPOGRAFIA TITULOS*/
@font-face {
  font-family: "Abril";
  src: url("../Typography/AbrilFatface-Regular.ttf");
}
/*CREACION DE TIPOGRAFIA TEXTO*/
@font-face {
  font-family: "Graduate";
  src: url("../Typography/Graduate-Regular.ttf");
}
/*MENU*/
nav {
  background-image: url(https://i.pinimg.com/564x/39/ff/fc/39fffc56a657467cc24277b8dc4140eb.jpg);
}
nav div .navbar-brand {
  color: #E6E6E6;
  font-family: Abril;
  font-size: 30px;
  text-transform: uppercase;
}
nav div .navbar-brand:hover {
  color: #007F79;
  transition: 0.4s;
}
nav .navbar-nav a {
  font-family: Graduate;
  color: #E6E6E6;
  border-radius: 7px;
  letter-spacing: 2px;
  margin-left: 10px;
}
nav .navbar-nav a:hover {
  background-color: #E6E6E6;
  border-radius: 7px;
  font-weight: bold;
  color: #007F79;
  transition: 0.2s;
}

div .navbar-toggler, div .navbar-toggler-icon {
  color: #007F79;
  background-color: #E6E6E6;
}

/*INDEX Background*/
#section_index, #section_encabezado {
  background-image: url(https://i.pinimg.com/564x/39/ff/fc/39fffc56a657467cc24277b8dc4140eb.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

/*INDEX SECTION BIENVENIDA*/
.section_bienvenida {
  color: #E6E6E6;
  font-family: Graduate;
}

.btn_reserva {
  color: #E6E6E6;
  background-color: #007F79;
  font-size: 20px;
  border-radius: 7px;
  padding: 5px;
  -webkit-animation-name: efecto_btn_reserva;
          animation-name: efecto_btn_reserva;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  text-transform: lowercase;
}

@-webkit-keyframes efecto_btn_reserva {
  0% {
    background-color: #007F79;
  }
  100% {
    background-color: #E6E6E6;
    color: #007F79;
  }
}

@keyframes efecto_btn_reserva {
  0% {
    background-color: #007F79;
  }
  100% {
    background-color: #E6E6E6;
    color: #007F79;
  }
}
/*INDEX SECTION IMAGEN*/
#carouselExampleCaptions {
  width: 1000px;
}

/*PAGINA HISTORIA*/
.historia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relatoHistoria {
  margin: 5%;
  font-family: Graduate;
}

/*FOOTER*/
footer {
  width: 100%;
  position: absolute;
  background-image: url(https://i.pinimg.com/564x/39/ff/fc/39fffc56a657467cc24277b8dc4140eb.jpg);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_logo {
  height: 100px;
  margin-bottom: 5px;
}

.contenedor_menu_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor_menu_footer {
  list-style: none;
  color: #E6E6E6;
  font-size: 20px;
  font-family: Graduate;
}

.menu_footer {
  margin: 5px 15px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.4s;
}
.menu_footer:hover {
  opacity: 1;
}
.menu_footer a {
  text-decoration: none;
  color: #E6E6E6;
}

/*PAGINA SERVICIOS*/
#section_servicios {
  background-image: url(https://i.pinimg.com/564x/39/ff/fc/39fffc56a657467cc24277b8dc4140eb.jpg);
}

.menu_section_servicios, .menu_section_servicios li a {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-family: Graduate;
  font-size: 18px;
  color: #E6E6E6;
  text-decoration: none;
  margin-left: 15px;
}

.menu_section_servicios li a:hover {
  text-decoration: underline;
}

#tragos, #servicios, #juegos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#tragos img, #servicios img, #juegos img {
  width: 300px;
  height: 340px;
  margin-left: 10px;
  filter: grayscale(100%);
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

#tragos img:hover, #servicios img:hover, #juegos img:hover {
  filter: grayscale(0);
  transition: 0.4s;
}

#section_servicios div {
  font-size: 25px;
  font-family: Abril;
  text-transform: uppercase;
  color: #E6E6E6;
  display: flex;
  justify-content: space-evenly;
}

#section_servicios div:hover {
  color: #007F79;
}

/*Media query en SERVICIOS */
@media screen and (max-width: 500px) {
  .menu_section_servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0%;
  }
  .menu_section_servicios li a {
    margin-left: 0%;
    font-size: 15px;
  }
}/*# sourceMappingURL=styles.css.map */